project_id         = "gke-infrastructure-493002"
region             = "us-central1"
zone               = "us-central1-a"
pi_public_ip       = "YOUR_PI_PUBLIC_IP"       # curl ifconfig.me on the Pi
billing_account_id = "XXXXXX-XXXXXX-XXXXXX"   # gcloud billing accounts list
domain             = "umarzaman.ca"
github_owner       = "YOUR_GITHUB_USERNAME"
